.mynav{
	padding: 0;
	margin: 0;
	list-style: none;
}
.mynav a{
	text-decoration: none;
	display: block;
	background-color: #666;
	margin-bottom: 1px;
	color: #ddd;
	padding: 5px;
}
.mynav a:hover{
	background-color: #444;
}
.mainnav{
	padding: 0;
	margin: 0;
	list-style: none;
}
.mainnav li{
	float: left;
}
.mainnav li a{
	text-decoration: none;
	background-color: #666;
	margin-bottom: 1px;
	color: #ddd;
	padding: 10px 30px;
	font-size: 20px;
}
.mainnav li a:hover{
	background-color: #444;
}
table.mytable{
	margin:20px 10px 10px 60px;
	width: 1000px;
}
table.mytable tr{
	text-align: center;
}
table.mytable th{
	background-color: black;
	color: #fff;
	padding: 10px 0px;
}
table.mytable tr{
	height: 30px;
}
table.mytable tr:nth-child(2n+1){
	background-color: white;
}
table.mytable tr:hover{
	background-color: #bbb9ba;

}

